.allProductCategory {
  .allCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .singleCard {
      background-color: #fff;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      text-align: center;
      padding: 15px 15px;
      border-radius: 12px;
      position: relative;
      width: 19%;
      color: black;

      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .categoryMark {
        position: absolute;
        left: -12px;
        top: 13px;
        background-color: #ff5722;
        color: #fff;
        // padding: 20px;
        transform: rotate(360deg);
        text-align: left;
        font-size: 22px;
        padding: 9px 14px;

        .side {
          // width: 1px;
          // height: 33px;
          // background-color: red;
          // position: absolute;
          // top: 40px;
          // left: -12px;

        }



      }

      .categoryMark::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent #ff5722 transparent transparent;
        /* Match the background color */
      }

      img {
        width: 256px;
        height: 29vh;
        object-fit: contain;
      }

      .desc {
        line-height: 37px;

        p {
          font-size: 19px;
          font-weight: 300;
        }

        .brandName {
          font-weight: 700;
        }

        .price {
          margin-top: 8px;
          display: flex;
          justify-content: space-around;

          del {
            color: grey;
          }

          span {
            font-weight: 700;
            font-size: 23px;
            border-bottom: 2px solid #ff5722;
          }

          .offer {
            color: #ff5722;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;

          }
        }
      }
    }

  }

}