.navbar {
  background-color: #ff5722;
  padding-top: 28px;

  padding-bottom: 4px;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;

    border-bottom: 1px solid #eee8e88f;

    a {
      color: #fff;
      padding: 6px 20px;
      border-left: 1px solid #eee8e88f;
      border-right: 1px solid #eee8e88f;


    }

    .left {
      ul {
        display: flex;
        // gap: 14px;
        align-items: center;

        li {
          a {

            &:first-child {
              border-left: 0;
            }
          }
        }
      }

      .socialLinks {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #fff;
        border: 0;

      }
    }

    .right {

      ul {
        display: flex;
        // gap: 14px;
        align-items: center;

        li {
          a {

            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }
  }

  .filterProducts {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      .logo {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;

        button {
          background-color: transparent;
          border: 0;
          outline: 0;
          color: #fff;
          cursor: pointer;
        }

        a {
          font-size: 26px;
          font-weight: 300;
          color: #fff;

          span {
            font-weight: 900;
          }
        }
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 10px;

      .input {
        input {
          width: 100%;
          border: 0;
          outline: 0;
          padding: 13px 12px;
          border-radius: 3px;
        }

        position: relative;


        .searchbutton {
          position: absolute;
          padding: 10px 22px;
          background-color: #ff5722;

          border: 0;
          outline: 0;
          right: 4px;
          top: 4px;
          bottom: 4px;

          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;

        }

        .searchIcone {
          font-size: 26px;

        }
      }


      .categories {
        ul {
          display: flex;
          white-space: nowrap;
          justify-content: space-between;
          padding-top: 3px;
          padding-bottom: 3px;

          li {
            a {
              color: #fff;
              font-size: 19px;
              font-weight: 300;
              transition: all .4s;
              padding-bottom: 4px;

              &:hover {
                font-weight: 600;
                border-bottom: 1px solid #fffdfdb0;

              }

            }
          }
        }
      }

    }

    .right {
      position: relative;

      .cart {
        position: relative;

        button {
          color: #fff;
          background-color: transparent;
          border: 0;
          outline: 0;

        }

        .cartIcone {
          font-size: 30px;

        }

        .numberOfProducts {
          position: absolute;
          top: -8px;
          left: 18px;
          color: #ff5722;
          background-color: #fff;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 800;
        }
      }

    }
  }
}


/*   Media Query   */

@media screen and (max-width: 1530px) {
  .categories {
    ul {
      flex-wrap: wrap !important;
      justify-content: center !important;
    }

    li {
      padding: 20px;
    }

  }

  .leftMenue {
    width: 30% !important;
  }

  .hideMenue {
    left: -30% !important;
  }
}

@media screen and (max-width: 1154px) {
  .categories {
    ul {
      flex-wrap: wrap !important;
      justify-content: center !important;
    }

    li {
      padding: 20px;
    }
  }

  .leftMenue {
    width: 40% !important;
  }

  .hideMenue {
    left: -40% !important;
  }
}

@media screen and (max-width: 776px) {
  .categories {
    display: none !important;
  }

  .links {
    flex-wrap: wrap !important;
    padding: 20px;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
  }

  .filterProducts {
    flex-wrap: wrap !important;
    padding: 10px;
    gap: 20px;
  }

  .leftMenue {
    width: 50% !important;
  }

  .hideMenue {
    left: -50% !important;
  }

}

@media screen and (max-width: 452px) {

  .categories {
    display: none !important;
  }

  .links {
    flex-wrap: wrap !important;
    padding: 20px;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;

    a {
      border: 0 !important;
    }
  }

  .filterProducts {
    flex-wrap: wrap !important;
    padding: 10px;
    gap: 20px;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin: 10px 0 !important;

    .left {
      margin: auto;
    }
  }

  .leftMenue {
    width: 70% !important;
  }

  .hideMenue {
    left: -70% !important;
  }

  .left {
    ul {
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column !important;

      li {
        padding: 20px;
        white-space: nowrap;

        a:first-child {
          flex-direction: column;
        }
      }
    }
  }

  .center {
    input {
      font-size: 10px !important;

    }

    width: 90vw !important;

  }

  .right {
    margin: auto;
  }

}