.cartTable {
  padding-top: 4rem;

  table {
    width: 100%;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-collapse: collapse;


    tbody {
      margin-top: 2rem;
    }

    tr {
      &:first-child {
        border-bottom: 101px red;
      }
    }

    td {
      white-space: nowrap;
      text-align: center;
      padding: 20px;
      background-color: #fff;
      border-bottom: 1px solid rgb(238 238 238);
      font-size: 20px;
      font-weight: 400;

    }

    th {
      padding: 20px;
      background-color: #fff;
      border-bottom: 48px solid #f1e3e34f;
      border-collapse: collapse;
      font-size: 24px;

    }
  }
}

.cartPage {
  width: 100%;
  min-height: 100vh;
  background-color: #e8d3d3;
}

.deleteFromCart {
  border: 0;
  outline: 0;
  font-size: 21px;
  font-weight: 400;
  border: 1px solid #dadada;
  padding: 10px 20px;
  border-radius: 5px;
  color: red;
  transition: all .5s;
  background-color: #fff;

  &:hover {
    background-color: #ff5722;
    color: #fff;


  }
}

.totalBox {
  background-color: #fff;
  padding: 5px 30px 26px 30px;
  margin-top: 4rem;
  border-radius: 12px;
}

.finalTotal {
  font-size: 23px;
  text-align: right;
  margin: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  span {
    font-size: 50px;
    font-weight: 600;
    color: #ff5722;
  }
}



.CheckOut {
  font-size: 21px;
  font-weight: 400;
  border: 1px solid #dadada;
  padding: 10px 12px;
  // border-radius: 15px;
  background-color: #fff;
  border-radius: 0;
  color: ff5722;

  &:hover {
    background-color: #ff5722;
    color: #fff;
  }
}

.clearCash {
  font-size: 21px;
  font-weight: 400;
  border: 1px solid #dadada;
  padding: 10px 12px;
  border-radius: 2px;
  background-color: #fff;
  color: red;
  transition: all .7s;

  &:hover {
    color: #fff;
    background-color: red;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  text-align: right;
}

@media screen and (max-width: 1163px) {
  .cartTable {

    table th {
      font-size: 19px !important;
    }

    .totalBox {
      .top {

        .finalTotal {
          p {

            font-size: 20px !important;
          }

          span {
            font-size: 37px !important;

          }
        }
      }
    }
  }
}

@media screen and (max-width: 879px) {
  .cartTable {

    table th {
      font-size: 16px !important;
      border-bottom: 19px solid rgba(241, 227, 227, 0.3098039216) !important;
    }

    table td {
      font-size: 15px !important;
    }

    .deleteFromCart,
    .clearCash {
      font-size: 12px !important;

    }

    .totalBox {
      .top {

        .finalTotal {
          p {

            font-size: 20px !important;
          }

          span {
            font-size: 37px !important;

          }
        }
      }
    }
  }
}

@media screen and (max-width: 716px) {
  .cartTable {
    table {
      width: 95vw;
    }

    table th {
      font-size: 13px !important;
      padding: 7px;

    }

    table td {
      font-size: 13px !important;
      padding: 10px 6px;

    }

    .totalBox {
      .top {

        .finalTotal {
          p {

            font-size: 14px !important;
          }

          span {
            font-size: 32px !important;

          }
        }
      }
    }
  }
}


@media screen and (max-width: 470px) {
  .cartTable {
    table {
      width: 95vw;
    }

    table th {
      font-size: 13px !important;
      padding: 7px;

    }

    table td {
      font-size: 13px !important;
      padding: 10px 6px;
      

    }

    .totalBox {
      .top {

        .finalTotal {
          p {

            font-size: 14px !important;
          }

          span {
            font-size: 32px !important;

          }
        }
      }
    }
  }
}


@media screen and (max-width: 452px) {
  .cartTable {
    table {
      width: 95vw;
    }

    table th {
      font-size: 9px !important;
      padding: 6px;

    }

    table td {
      font-size: 9px !important;
      padding: 6px;

    }

    .totalBox {
      .top {

        .finalTotal {
          p {

            font-size: 11px !important;
          }

          span {
            font-size: 22px !important;

          }
        }
      }
    }


    .deleteFromCart,
    .clearCash {
      font-size: 9px !important;
      padding: 6px 10px;

    }
  }
}


@media screen and (max-width: 350px) {
  .cartTable {
    table {
      width: 95vw;
    }

    table th {
      font-size: 9px !important;
      padding: 6px;

    }

    table td {
      font-size: 9px !important;
      padding: 6px;

    }

    .totalBox {
      .top {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .finalTotal {
          p {

            font-size: 11px !important;
          }

          span {
            font-size: 22px !important;

          }
        }
      }

      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


    .deleteFromCart,
    .clearCash {
      font-size: 9px !important;
      padding: 6px 10px;

    }
  }
}