.productsBasket {
  background-color: #fff;
  width: 21rem;
  position: absolute;
  right: -33px;
  top: 42px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  overflow-y: scroll;
  padding-bottom: 18px;
  padding-top: 1rem;
  padding-left: 11px;
  max-height: 25rem;


  &::-webkit-scrollbar {
    width: 10px;
  }


  &::-webkit-scrollbar-thumb {
    background: #ff5722;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {

    background: #555;
  }

  h3 {
    text-align: center;
    color: #FF5722;
    font-size: 21px;
    font-weight: 500;

  }

  .allProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .singleProduct {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bebebe6e;

      &:last-child {
        margin-bottom: 2rem;

      }

      .singleProductDetails {
        display: flex;
        gap: 10px;
        align-items: center;

        p {
          font-size: 19px;
          color: #222222a8;
          font-weight: 400;
        }
      }

      img {
        width: 120px;
        /* height: 68px; */
        height: 12vh;
        object-fit: contain;
      }

      .productPrice {
        p {
          font-size: 20px;
          font-weight: 400;
          color: #ff5722;
        }

      }
    }

  }

  .viewCart {
    display: flex;
    justify-content: flex-end;
    justify-content: center;

    text-align: right;

    .viewCartButton {
      border: 0;
      background-color: #ff5722;
      color: #fff;
      padding: 10px 14px;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 500;
      margin-top: 19px;
      margin-right: 14px;

    }
  }

}



// media Query 

@media screen and (max-width: 1300px) {
  .productsBasket {
    right: 0px !important;

    .singleProduct {
      gap: 27px;
      margin-top: 17px;

      .singleProductDetails {
        img {}

        p {
          font-size: 17px !important;
        }
      }

      .productPrice {
        p {
          font-size: 17px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1191px) {
  .productsBasket {
    right: 0px !important;


  }
}

@media screen and (max-width: 467px) {
  .productsBasket {
    right: -157px !important;
    top: 37px !important;


  }
}


@media screen and (min-width: 453px) and (max-width: 467px) {
  .productsBasket {
    right: -16px !important;

  }
}

@media screen and (max-width: 381px) {
  .productsBasket {
    width: 90vw !important;
    right: -138px !important;
    top: 37px !important;
  }
}



@media screen and (max-width: 323px) {
  .productsBasket {
    width: 82vw !important;
    right: -110px !important;
    top: 37px !important;

    h3 {
      font-size: 16px;
    }

    .viewCartButton {
      font-size: 15px !important;
    }


    .singleProductDetails {
      gap: 10px !important;

      img {
        width: 74px !important;
        height: 15vw !important;

      }

      p {
        color: green !important;
      }
    }
  }

  .productsBasket .singleProduct .singleProductDetails p {
    font-size: 14px !important;

  }

  .productsBasket .singleProduct .productPrice p {
    font-size: 12px !important;

  }
}