.sliderHome {
  padding-top: 20px;

  .slider {

    img {
      width: 100%;
      object-fit: cover;


    }

    display: flex;
  }
}


@media screen and (max-width: 788px) {
  .sliderHome {

    .slider {

      img {
        height: 14rem;



      }

    }
  }



}