* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.spaceX {
  padding-left: 8%;
  padding-right: 8%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #e2e2e208;
}

button {
  cursor: pointer;
}
