* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.spaceX {
  padding-left: 8%;
  padding-right: 8%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #e2e2e208;
  background-color: #e9e9e9;
  background-color: #f1e3e34f;
}

button {
  cursor: pointer;
}

/* Media Query */

@media screen and (max-width: 1184px) {
  .spaceX {
    padding-left: 3%;
    padding-right: 3%;
  }
}
